# Ansible/Molecule
ansible-core>=2.21,<2.22
ansible>=14,<15
pyyaml

# Scripts/modules
docker
requests
netaddr
Jinja2
MarkupSafe
PyNaCl
bcrypt
cffi
pycparser
junit-xml
lxml
paramiko

# hashicorp vault
hvac

# ansible crypt
passlib
