# Ansible/Molecule
ansible-core>=2.15,<2.16
ansible>=8,<9
pyyaml

# Scripts/modules
docker
requests
netaddr
Jinja2
MarkupSafe
PyNaCl
bcrypt
cffi
pycparser
junit-xml
lxml
paramiko

# hashicorp vault
hvac

# ansible crypt
passlib
