# Ansible/Molecule
ansible-core>=2.16,<2.17
ansible>=9,<10
pyyaml

# Scripts/modules
docker
requests
netaddr
Jinja2
MarkupSafe
PyNaCl
bcrypt
cffi
pycparser
junit-xml
lxml
paramiko

# hashicorp vault
hvac

# ansible crypt
passlib
